<link rel="stylesheet" href="/css/style.css" />
<div class="wrap">
  <form class="login-form" action="/action/reset-password" method="post">
    <div class="form-header">
      <h3>Reset Password Form</h3>
    </div>

    <!--Password Input-->
    <div class="form-group">
      <input
        type="password"
        name="password"
        class="form-input"
        placeholder="Password"
        required
      />
    </div>
    <!-- Confirm Password Input-->
    <div class="form-group">
      <input
        type="password"
        name="confirm_password"
        class="form-input"
        placeholder="Confirm Password"
        required
      />
    </div>

    <!--Reset Password Button-->
    <div class="form-group">
      <button class="form-button" type="submit">Reset Password</button>
    </div>
  </form>
</div>
<!--/.wrap-->
