<h1>Sign In</h1>
<form action="/users/create-session" method="post">
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Password" required />
  <br /><br />
  <div
    class="g-recaptcha"
    style="margin-left: 50px"
    data-sitekey="6Le4S0sjAAAAAC_2tL_Jx2lLFFjQAybuyljOscv5"
  ></div>
  <br />
  <input type="submit" value="Sign In" />
</form>

<p>
  <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>
